.pokemon-badge {
  bottom: 44px;
}
.pokemon-time {
  top: 51px;
  right: -18px;
  border-radius: 32%;
}
.site-input{
  color: white!important;
}
.site-input::placeholder{
  color: white!important;
}