.pokemon-badge-wrapper {
  bottom: 44px;
  left: 104px;
}
.pokemon-candy-wrapper {
  bottom: 44px;
  right: 61px;
}
.pokemon-time {
  top: 51px;
  right: -18px;
  border-radius: 32%;
}
.site-input{
  color: white!important;
}
.site-input::placeholder{
  color: white!important;
}